/* header style */


nav ul li {
    list-style: none;
    margin-left: 35px;
}

nav ul li a{
    text-decoration: none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.header-problem{
    margin-top: 0px;
    padding: 30px;
    /* align-items: center; */
}
.ul{
    display: flex;
}

.h-3{
    color: #4E47FF;
    font-size: 37px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ul{
    font-size: 22px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    font-size: 20px;
    background-color: #4E47FF;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px;
}

/* header{
    background-image: url(Hero-bg.png);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px
    
} */

/* .header-section{
    background-image: url(Hero-bg.png);
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px
    
    
} */
 header{
    background-image: url(Hero-bg.png);
    background-size: cover;
 }
/* .main{
    font-size: 20px;
    margin: 50px;
    
} */

.butt{
    background-color: #4E47FF;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 6px;
    border: 1px solid black;
    margin-bottom: 60px
}

.butt{
    align-items: center;
}

.butt{
    margin-top: 20px;
}

.div-title{
   margin-left: 96px;
   
}

.tool{
    font-size: 30px;
}
.header{
    align-items: center;
}

/* main section */

.section-1{
    display: flex;
    justify-content: space-between;
    margin: 200px 200px; 
}

/* .section-1{
    margin: 100px;
} */

.mai-n{
    font-size: 25px;
    margin-left: 60px;
    margin-left: -50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main-section-pic{
    height: 200px;
    width: 250px;
    border-radius: 20px;
}

.Launch-Live-Preview{
    background-color: #4E47FF;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 6px;
    border: 1px solid black;
}


/* rating section */

/* .users{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 100px;
} */



.title{
    font-size: 100px;
}
/* .users{
    
    padding:  150px;
} */
/* 
.users{
    display: flex;
    align-items: center;
    justify-content: space-around;
} */

.joined-users{
    display: flex;
    justify-content: space-around;
}
.join{
    color: #4E47FF;
}


.thousand{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.users{
    text-align: center;
    padding: 40px;
    background-color: #dad9ff;
    border-radius: 15px;
}

.join-descriptin{
    margin-top: -20px;
}

.wc-big{
    text-align: center;   
    font-size: 30px;
}

.wc{
    margin-top: 100px;
    padding: 50px;
}

.Get-Started-Free{
    background-color: #4E47FF;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 6px;
    border: 1px solid black;   
}

.pic-idit{
    border-radius: 20px;
}


footer{
    padding: 130px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;

}

footer input[ type = "text"], .touch, footer input[type = "email"],footer textarea {
    height: 40px;
    border-radius: 5px;
    display: block;
    width: 100%; 
    padding: 10px;
    margin: 24px;
    border: 2px solid black;
}

.name{
    margin-left: 10px;
}
footer{
    background-color: #e9e8ff;
    margin-top: 95px;
    border-radius: 20px;
}
.touch{
    margin-right: 20px;
}

.touch{
      background-color: #4E47FF;
    padding: 10px 15px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 6px;
    border: 1px solid black; 
    align-items: center;
    margin-left: 20px;
}

.main-foter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul li a{
    text-decoration: none;
}
ul li {
    list-style: none;
    display: inline
}

ul li{
    margin: 30px
}

.last-section{
    align-items: center;
}

/* main{
    max-width: 1140px;
    margin: 0px auto;
    align-items: center;
} */